.page-header {
  background-color: #283645;
}

.container--page-header {
  display: flex;
  flex-direction: column;
}

.page-header___logo-link {
  height: 70px;
  color: #ffffff; /* временно */
  width: 150px; /* временно */
}

@media (min-width: @tablet-width) {
  .page-header___logo-link {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .container--page-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
