@import "blocks/header/header.less";
@import "blocks/header/site-list.less";
@import "blocks/main/device.less";
@import "blocks/main/device-list.less";
@import "blocks/main/advantages.less";
@import "blocks/main/advantages-list.less";
@import "blocks/main/reviews.less";
@import "blocks/main/price.less";
@import "blocks/footer/footer.less";
@import "blocks/footer/contacts.less";
@import "blocks/main/main.less";
body {
  background: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}
