@import "blocks/header.less";
@import "blocks/site-list.less";
body {
  background: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
