.page-footer {
  display: none;

  min-height: 284px;
}

.page-footer__wrapper {
  width: 280px;

  margin: 0 auto;
  padding: 0 20px;

  outline: 2px solid red;
}

.page-footer__logo {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: block;

    min-height: 127px;
  }

  .page-footer__wrapper {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {

}
