.advantages {
  padding-top: 39px;
}

.advantages__about {
  width: 205px;
  margin: 0 auto;
  margin-bottom: 29px;
  text-align: center;

  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.advantages__about--second {
  margin-bottom: 0;
}

.advantages__wrapper {
  position: relative;
  padding-top: 115px;
}

.advantages__wrapper::before {
  content: "";
  position: absolute;
  top: 33px;
  width: 100%;
  min-height: 790px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  z-index: 0;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
  text-align: center;
}

.advantages__item--third {
  margin-bottom: 0;
  padding-bottom: 319px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.advantages__text {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.advantages__img {
  display: none;
}

.advantages__img--third {
  display: block;
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 52px;
  }

  .advantages__about {
    width: 620px;

    font-size: 40px;
    line-height: 46px;

    &--first {
      margin-bottom: 0;
    }
  }

  .advantages__about--second {
    width: 335px;
  }

  .advantages__wrapper {
    padding-top: 122px;
  }

  .advantages__wrapper::before {
    top: 46px;
    min-height: 487px;
  }

  .advantages__container {
    width: 620px;
    margin: 0 auto;
  }

  .advantages__list {
    width: 310px;
    margin-left: auto;
    padding-left: 10px;
  }

  .advantages__item {
    overflow: visible;
    text-align: left;
    margin-bottom: 32px;
  }

  .advantages__item--third {
    padding-bottom: 40px;
  }

  .advantages__text {
    width: auto;
    margin: 0;
  }

  .advantages__img--third {
    left: -176px;
    top: -351px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 72px;
  }

  .advantages__about {
    width: 820px;

    font-size: 50px;
    line-height: 58px;
  }

  .advantages__about--second {
    width: 640px;
  }

  .advantages__wrapper {
    padding-top: 75px;
  }

  .advantages__wrapper::before {
    top: 78px;
    min-height: 575px;
  }

  .advantages__container {
    width: 940px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;

    margin: 0 auto;
    padding: 0;
  }

  .advantages__item {
    width: 292px;
    margin-bottom: 0;
    padding-bottom: 0;

    text-align: center;
  }

  .advantages__title {
    margin-bottom: 23px;
    padding-top: 60px;

    font-size: 30px;
    line-height: 30px;
  }

  .advantages__text {
    width: 245px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__img {
    display: block;
    width: 292px;
    height: 302px;
  }

  .advantages__img--third {
    position: static;
    transform: translate(0);
  }
}
