.advantages__wrapper {
  width: 280px;

  margin: 0 auto;
  padding: 0 20px;

  outline: 2px solid red;
}

.advantages__header {
  padding-top: 43px;
}

.advantages__about {
  width: 205px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
}

.advantages__item {
  margin-bottom: 32px;
  text-align: center;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.advantages__text {
  margin: 0;
  padding: 0;
}

.advantages__img-wrapper {
  display: flex;

  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.advantages__img--first {
  display: none;
}

.advantages__img--second {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: 620px;
  }

  .advantages-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .advantages__about {
    width: 620px;

    font-size: 40px;
    line-height: 40px;

    &--first {
      margin-bottom: 0;
    }
  }

  .advantages__about--second {
    width: 335px;
  }


  .advantages__list {
    width: 310px;
    padding-left: 10px;
  }

  .advantages__item {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 940px;
    padding: 0 10px;
  }

  .advantages__about {
    width: 820px;

    font-size: 50px;
    line-height: 50px;
  }

  .advantages__about--second {
    width: 640px;
  }

  .advantages-container {
    flex-direction: column-reverse;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;

    width: 880px;

    padding: 0 30px;
  }

  .advantages__item {
    width: 245px;

    text-align: center;
  }

  .advantages__title {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__img-wrapper {
    justify-content: space-between;

    width: 832px;
    padding: 0 54px;
  }

  .advantages__img--first {
    display: block;
  }

  .advantages__img--second {
    display: block;
  }
}
