.app__button {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    background-color: transparent;

    &--post {
      color: #d22856;
      border-color: #d22856;
    }
    &--reset {
      color: rgba(40, 54, 69, 0.1);
      border-color: #dddfe0;
    }
}
.app__img-wrapper {
  margin: 0;
  padding: 0;
}
