.device {
  min-height: 638px;
  background-color: #1d2631;
}

.device__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.device__img-wrapper {
  margin: 0;
  padding: 0;

  height: 395px;

  background-image: url("../../../img/bg-back-mobile@1x.jpg");
}

.device__button {
  display: inline-block;

  box-sizing: border-box;
  width: 280px;

  margin-bottom: 32px;
  padding: 18px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

.device__text {
  width: 280px;

  margin: 0;
  padding: 0 20px;

  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

/* Временные стили */
.device__wrapper,
.device__text {
  outline: 2px solid red;

}

@media (min-width: @tablet-width) {
  .device {
    min-height: 619px;
  }

  .device__wrapper {
    width: 620px;
  }

  .device__button {
    width: 300px;
  }

  .device__text {
    width: 300px;
    padding: 0;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .device {
    min-height: 743px;
  }
  .device__wrapper {
    width: 940px;
    padding: 0 10px;
  }

  .device__button {
    margin-bottom: 67px;
  }
}
