/*.device-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  margin-bottom: 23px;
  margin-left: 36px;
  padding: 0;

  width: 205px;
  list-style: none;


  outline: 2px solid red;
}

.device-list__link {
  text-decoration: none;
}


@media (min-width: @tablet-width) {
  .device-list {
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .device-list {
    margin-bottom: 58px;
  }
}
*/
