.device {
    background-color: #1d2631;
}
.device__button {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;

}
