.form__list {
  border: none;
}
.form__person-item {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.form__list-title {
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}
.form__person-achievements {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}
.form__contacts-item {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.form__app-item {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}
.form__emotions-item {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.form__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2aab6d;
  text-transform: uppercase;
}
.form__required-item {
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-transform: uppercase;
}
.form__small-item {
  color: #d22856;
}
