.form {
  position: relative;
}

.form::before {
  content: "*";
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  bottom: 24px;
  left: 20%;
  color: #d22856;
}

.form::after {
  content: "— обязательные поля";
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  bottom: 24px;
  left: 24%;
  text-transform: uppercase;
}

.form__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 89px;
}

.form__group {
  display: flex;
  flex-direction: column;
  padding-right: 3.65%;
  padding-left: 3.85%;
}

.form__group--name {
  padding-bottom: 27px;
}

.form__input-wrapper {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.form__label {
  position: relative;
  padding-left: 67px;
}

.form__label--pink {
  display: block;
  padding-bottom: 5px;
  padding-left: 23px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 65px 15px 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}

.form__group--achieve {
  background-color: #f2f2f2;
}

.form__group--border {
  padding-top: 0;
  padding-bottom: 0;
  border-style: none;
}

.form__title {
  width: 225px;
  margin: 0 auto;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 43px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
}

.form__checkbox,
.form__radio {
  display: none;
}

.form__label--checkbox {
  display: block;

  margin-bottom: 52px;

  font-size: 18px;
  line-height: 30px;
}

.form__label--checkbox::before,
.form__label--radio::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -3px;
  width: 35px;
  height: 35px;
  transform: translateY(-50%);
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.form__label--checkbox:hover::before {
    border-color: #283645;
}

.form__label--checkbox:active::before {
    border-color: #d22856;
}

.form__checkbox:checked + .form__label--checkbox::after {
  content: "";

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 6px;

  width: 20px;
  height: 8px;
  transform: translateY(-80%) rotate(-45deg);
  border: 2px solid #d22856;
  border-top-style: none;
  border-right-style: none;
}

.form__group--contact {
  padding-top: 30px;
  padding-bottom: 36px;
}

.form__group--app {
  background-color: #f2f2f2;
}

.form__label--radio {
  margin-bottom: 45px;
}

.form__label--radio::before {
  border-radius: 50%;
}

.form__label--radio:hover::before {
  border-color: #283645;;
}

.form__radio:checked + .form__label--radio::after {
  content: "";

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 9px;

  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #d22856;
}

.form__label--radio:active::before {
    border-color: #d22856;
}

.form__title--emotions {
  padding-top: 56px;
  padding-bottom: 18px;
}

.form__textarea {
  box-sizing: border-box;

  width: 100%;
  height: 201px;
  margin-bottom: 47px;
  padding: 20px 20px 17px;
  resize: none;

  font-size: 18px;
  line-height: 30px;

  border: 2px solid #e5e5e5;
}

.form__button {
  width: 280px;
  margin: 0 auto;

  padding-top: 17px;
  padding-bottom: 16px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #2aab6d;
  border-style: none;
}
/*
.form__emotions-item {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form__button {
  width: 280px;

  margin-bottom: 36px;
  padding: 17px 47px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  color: #ffffff;
  background-color: #2aab6d;
  text-transform: uppercase;
}

.form__required-item {
  margin: 0;
  padding: 0;
  line-height: 30px;
  text-transform: uppercase;

  text-align: center;
}

.form__small-item {
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__button {
    margin: 0;
  }
}
*/
