.page-main__title-wrapper {
  min-height: 135px;

  padding-top: 35px;

  background-image: url("../../../img/bg-back-mobile@1x.jpg");
  background-color: #283645;
}

.page-main__title {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main__title-wrapper {
    min-height: 250px;

    padding-top: 80px;
  }

  .page-main__title {
    margin: 0 auto;

    font-size: 50px;
    line-height: 50px;

    &--photo {
      width: 370px;
    }

    &--form {
      width: 490px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__title-wrapper {
    min-height: 210px;

    padding-top: 75px;
  }

  .page-main__title {
    &--form {
      width: 760px;
    }
  }
}
