.photos {
  padding-top: 50px;
  padding-bottom: 40px;
}

.photos__text {
  padding: 0;
  margin: 0;

  line-height: 30px;

  text-align: center;

  &--top {
    width: 245px;

    margin: 0 auto;
    margin-bottom: 45px;
  }
}

.photos__text-block {
  display: block;
}

@media (min-width: @tablet-width) {
  .photos {
    padding-top: 95px;
    padding-bottom: 68px;
  }

  .photos__text {
    font-size: 18px;

    &--top {
      width: 450px;
      margin-bottom: 75px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__text {
    &--top {
      width: 575px;
    }
  }
}
