.photo__view {
  margin: 0;
  padding: 0;
}

.photo__title {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  background-color: #d22856;
  text-transform: uppercase;
}

.photo__author-name {
  font-weight: 700;
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
}

.photo__like {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
}

.photo__comment {
  margin: 0;
  padding: 0;
}
