.photos {
  padding-top: 50px;
  padding-bottom: 40px;
}

.photos__text {
  padding: 0;
  margin: 0;

  line-height: 30px;

  text-align: center;

  &--top {
    width: 245px;

    margin: 0 auto;
    margin-bottom: 45px;
  }

  &--bottom {
    width: 260px;

    margin: 0 auto;
    margin-top: 40px;
  }
}

.photos__text--block {
  display: block;
}

.photos__img {
  display: block;

  &--panorama {
    width: 320px;

    margin: 0 auto;
  }
}

.photos__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.photos__item {
  margin-bottom: 20px;
}


@media (min-width: @tablet-width) {
  .photos {
    padding-top: 95px;
    padding-bottom: 68px;
  }

  .photos__text {
    font-size: 18px;

    &--top {
      width: 450px;
      margin-bottom: 75px;
    }
  }

  .photos__img {
    width: 300px;

    &--panorama {
      width: 660px;
    }
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__item {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .photos__text {
    width: 575px;
  }

  .photos__img {
    &--panorama {
      width: 1200px;
    }
  }

  .photos__item {
    margin-bottom: 54px;
  }
}
