.price__list {
  border-collapse: collapse;
}

.price__item {
  line-height: 30px;

  text-transform: uppercase;
}

.price__item--head {
  background-color: #283645;
  text-align: center;
}

.price__item-title {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

/*




  &--title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }

  &--price {
    display: block;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
  }
}

.price__visible {
  display: block;
}

@media (min-width: @tablet-width) {
  .price__wrapper {
    width: 620px;

    margin: 0 auto;
    padding: 0 20px;
  }

  .price__list {
    width: 620px;
  }

  .price__item {
    width: 155px;
  }
}

@media (min-width: @desktop-width) {

}
*/
